@media (max-width:767px)
{
    section.face h1.header1
    {

        padding-left: 40px;
        font-size: 18px;

    }
    section.face h1.header2
    {
         padding-left: 20px;
        font-size: 18px;
    }
    section.face p
    {
        color:white;
        font-size:15px;
        padding-top: 30px;
        margin-left: -20px;
    }
   section.face button.text-center
    {
        
        margin-left: 0px;
        margin-top: 90px;
    }
    section.face button.second
        {
            display: block;
            margin-top: 60px;
            margin-bottom: 80px;
            margin-left: 70px;
            background-color: transparent;
            color:white;
            animation: hvr-bob 1s ease-in-out infinite;
        }
    section.after-face button
        {
            padding-left: 10px;
            width: 50%;
        }
    section.services .active
        {
            margin-top: 0px;
            transform: scale(1);
            background-color: white;
            
        }
    section.services .active p
        {
            color: black;
        }
    section.services button
    {
        font-size: 15px;
        padding-left: 10px;
        width:50%;
    }
    section.about-us h1
    {
        font-size: 25px;
        width:70%;
    }
    section.about-us h2
    {
        font-size: 20px;
        line-height: 1.7;
    }
    section.about-us button
    {
        font-size: 15px;
        width:50%;
        padding-left: 10px;
    }
    section.projects h1 
    {
        padding-left: 0px;
    }
    section.projects div.carousel-caption
        {
            font-size: 10px;
            margin-bottom: 30px;
            margin-left: 15px;
            line-height: 4;
        }
    section.our-clients h1
    {
        width:90%;
    }
    section.news h1
    {
        width: 80%;
    }
     section.contact h1
    {
        width:60%;
        padding-left: 0px;
    }
    section.contact div.box2 div.col-md-6:first-of-type
    {
        padding-right: 0px;
    }
    .spinner
    {
        margin:150px auto 
    }
}
@media (min-width:768px) and (max-width:991px)
{
    section.face h1.header1
    {
       
        padding-left: 65px;
        font-size: 0px;
    }
    section.face h1.header2
    {
        font-size: 30px;
    }
    section.face p
    {
        color:white;
        font-size:25px;
        padding-top: 16px;
        margin-left: -70px;
    }
    section.about-us h1
    {
        font-size: 30px;
    }
    section.projects div.carousel-caption
        {
            line-height: 5;
    }
    section.our-clients h1
    {
        width:40%;
    }
     section.news h1
    {
        width: 50%;
    }
    section.contact h1
    {
        width:30%;
        padding-left: 0px;
    }
     section.contact div.box2 div.col-md-6:first-of-type
    {
        padding-right: 0px;
    }.spinner
    {
        margin:250px auto 
    }
}
@media (min-width:992px) and (max-width:1199px)
{
    section.face h1.header1
        {
            
            padding-left: 63px;
            font-size: 40px;

        }
    section.face h1.header2
    {
    
        font-size: 40px;
    }
    section.face p
    {
       
        padding-top: 25px;
        margin-left: -120px;
    }
    section.our-clients h1
    {
        width:30%;
    }
    section.news h1
    {
        width: 37%;
    }
    section.contact h1
    {
        width:50%;
    }
}
@media (min-width:1200px)
{

}