@media (max-width:767px)
{
    .container
    {
        padding-right: 0px;
        padding-left: 0px;
    }
    section.inner h1
    {
        font-size: 40px;
    }
    .container-fluid
    {
        padding-right: 0px;
        padding-left: 0px;   
    }
    section.inner div.in-inner div.box
    {
        margin: 5px;
        
    }
    section.inner div.in-inner div.box a h3 
    {
        font-size: 15px;
        margin-top: 5
    }
    section.inner div.in-inner div.box span
    {
        font-size: 15px;
    }
    section.inner div.in-inner div.box img
    {
        height: 80%;
        margin: 0px;
        width: 95%;
        margin-left: 5px;
    }
    section.inner div.in-inner div.box p
    {
        font-size: 15px;
    }
    section.inner div.in-inner div.box button
    {
        margin-top: 10px;
        margin-right: 5px;
        margin-bottom: 10px;
        font-size: 15px;
    }
    div.col-xs-12
    {
        padding-right: 0px;
    }
    div.row:first-of-type
    {
       margin-right: 0px;
    }
    section.inner div.in-inner div.box2
    {
        padding-left: 0px;
        padding-right: 0px;
    }
    section.inner div.in-inner div.box2
    .carousel-inner > .item > img
    {
        width: 90%;
        margin: 5px;
    }
    section.inner div.in-inner div.box2 hr
    {
        width: 85%;
    }
    div.media-object
    {
        margin-left: 5px;
    }
     .carousel-control.right
    {
        right: 13px
    }
}
@media (min-width:768px) and (max-width:991px)
{
     section.inner div.in-inner div.box
    {
        margin: 10px;
        margin-right: 0px;
    }
    section.inner div.in-inner div.box a h3 
    {
        font-size: 25px;
        margin-top: 10px
    }
    section.inner div.in-inner div.box span
    {
        font-size: 20px;
    }
    section.inner div.in-inner div.box img
    {
        height: 80%;
        margin: 0px;
        width: 95%;
        margin-left: 25px;
    }
    section.inner div.in-inner div.box p
    {
        font-size: 15px;
        margin-left: 30px;
    }
    section.inner div.in-inner div.box button
    {
        margin-top: 10px;
        margin-right: 5px;
        margin-bottom: 20px;
        font-size: 20px;
    }
   
    div.row:first-of-type
    {
       margin-right: 0px;
    }
    section.inner div.in-inner div.box2
    {
        padding-left: 0px;
        padding-right: 0px;
    }
    section.inner div.in-inner div.box2
    .carousel-inner > .item > img
    {
        width: 95%;
        margin-left: 15px;
    }
    section.inner div.in-inner div.box2 hr
    {
        width: 95%;
    }
    section.inner div.in-inner div.box2 .media-object 
    {
    width: 150px;
    height: 150px;
    border-radius: 4px;
    margin-left: 20px;
    }
    section.inner div.in-inner div.box2 .media-body h4
    {
        margin-top: 50px;
        font-size: 22px;
        margin-left: 20px;
    }
    section.inner div.in-inner div.box2 .media-body span
    {
        margin-top: 15px;
        font-size: 15px;
        margin-left: 20px;
    }
    .navbar-default .navbar-nav > li > a
    {
        margin-right: -10px;
        font-size: 13px;
    }
}
@media (min-width:992px) and (max-width:1199px)
{
    section.inner div.in-inner div.box button
    {
        margin-bottom: 20px;
        margin-left: 20px;
        margin-top: 20px;
    }
    section.inner div.in-inner div.box2 div.box3 a
    {
        font-size: 10px;
    }
    section.inner div.in-inner div.box2 div.box3 span
    {
        font-size: 10px;
    }
    .fa-google-plus-square
    {
        padding-top: 20px;
    }
}