/*START MAIN RULES*/
body
{
    box-sizing: border-box;
}
/*END MAIN RULES*/
.navbar-default
{
    /*background-image: linear-gradient(to right, #960000,#960000, #b30000cc, #960000);*/
    border: none;
    border-radius: 0px;
    background-color: rgba(0,0,0,0.5)
}
.navbar-default .navbar-brand
{
    position: relative;
    display: block;
    height: 85px;
    width: 208px;
    margin-top:px;
    background-color: #ffffff;
    padding: 30px;
}
.navbar-default .navbar-brand:hover
{
    background-color: #ffffff;
}
.navbar-brand > img
{
    padding-top: 0px;
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    height: 100%;
    padding: 10px;
}
.navbar-default .navbar-nav > li > a
{
    margin-top: 18.5px;
    color:#bb0000;
    text-transform: uppercase;
    font-size:15px;
    padding: 5px;    
    margin-right: 15px;
    border-radius: 6px;
    padding: 13px;
    transition:all .5s ease-in-out;
    margin-bottom: 10px;
    font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover
{
    background-color: transparent;
    color:white;
}
.navbar-default .navbar-toggle
{
    margin-top: 20px;
    border:2px solid red;
    color: black;
    transition: all .3s ease-in-out;
}
.navbar-default .navbar-toggle:hover
{
    background-color: red;
}
.navbar-default .navbar-toggle .icon-bar
{
    background-color: white
}
/*end navbar*/
/*start section face*/
section.face
{
    background: url(../images/f.jpg)no-repeat center center fixed;
    height: 700px;
    width:100%;
    margin-top: 0px;
    background-color: rgba(0,0,0,0.4);
    position: relative;
}
section.face div.overlay
{
    width:100%;
    height: 100%;
    top:0px;
    right: 0px;
    background-color: rgba(88, 45, 45, 0.5);
}
section.face h1
{
    color:white;
}
section.face h1.header1
{
    position: absolute;
    top:0px;
    animation:first 12s infinite ease-in-out;
    font-weight: BOLD;
    padding-left: 100px;
    font-size: 50px;
    
}
@keyframes first 
{
    0%{
        
        top:0px;
    }
    50%
    {
        top:-100px;
    }
    100%
    {
        top:0px
    }
}
section.face h1.header2
{
    position: absolute;
     bottom:-100px;
    animation: second 12s ease-in-out infinite;
    animation-delay: s;
    font-weight: BOLD;
    font-size: 50px;
}
@keyframes second 
{
    0%{
        
        bottom:-100px
    }
    50%
    {
       bottom: 0px; 
    }
    100%
    {
        bottom: -100px;
    }
}

section.face div.animation
{
   
    margin-top: 200px;
    height: 70px;
    overflow: hidden;
    position: relative;
   
}
section.face p
{
    color:white;
    font-size:30px;
    padding-top: 30px;
    margin-left: -160px;
}
section.face span
{
    position: absolute;
    top:99.7%;
    left: 0px;
    height:2px;
    background-color: white;
    display: block;
    width: 0%;
    animation: complete 3s infinite;
}
@keyframes complete {
    
    from
    {
        width:0%
    }
    to
    {
        width: 100%;   
    }
}
section.face button.text-center
{
    display: block;
    width:100%;
    margin-left: 20px;
    margin-top: 90px;
    color:black;
    background-color: transparent;
    border:2px solid red;
    font-size: 28px;
    transition: all 0.3s ease-in-out;
}
section.face button.text-center:hover
{
    background-color:red;
    color: white;
}
section.face button.second
{
    display: block;
    margin-top: 60px;
    margin-bottom: 80px;
    margin-left: 65px;
    background-color: transparent;
    color:white;
    animation: hvr-bob 1s ease-in-out infinite;
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-20px);
  }
}
section.face button.hvr-shutter-out-horizontal:before
{
    background-color: red;
}
/*end section face*/
/*start sction after face*/
section.after-face
{
    padding-top:40px;
    padding-bottom: 40px;
    background-color: #bb0000;
    
}
section.after-face h3
{
    color: white;
    margin-bottom: 40px;
    text-shadow: 3px 3px 10px  rgba(0,0,0,0.7);
}
section.after-face p
{
    font-size: 20px;
    color: black;
}
section.after-face button
{
    margin-top: 15px;
    transition: all 0.5s ease-in-out;
    width:30%;
    box-shadow: 4px 4px 40px 10px rgba(0,0,0,0.1),
        -4px -4px 40px 10px rgba(0,0,0,0.1);
}
/*end sction after face*/
/*start section srvices*/
section.services
{
    padding-top:60px;
    padding-bottom:60px;

}
section.services h1
{
    padding-bottom: 50px;
    font-size: 45px;
    padding-bottom: 20px;
    
    border-bottom:10px solid #bb0000;
    margin-bottom: 70px;
    width:20%;
    font-weight: bold;
    text-shadow: 4px 4px 20px rgba(0,0,0,0.4);
    margin-left:  15px;
}
section.services .service1,
section.services .service2,
section.services .service3
{
    margin-bottom: 20px;
    background: ;
    padding-bottom: 20px;
    box-shadow: 5px 5px 50px 5px rgba(0,0,0,0.2), 
        -5px -5px 50px 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
} 
section.services .active
{
    margin-top: 0px;
    transform: scale(1.1);
    background-color: black;
    box-shadow: 5px 5px 50px 5px rgba(0,0,0,0.5), 
        -5px -5px 50px 5px rgba(0,0,0,0.5);
    z-index:;
}
section.services .active p
{
    color: white;
}
section.services h3
{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left:20px;
    color:#bb0000;
     transition: all 0.5s ease-in-out;
}
section.services p
{
    padding-left: 20px;
    font-size: 15px;
}
section.services img
{
    width:100%;
    border-radius: 5px;
}
section.services button
{
    margin-top: 50px;
    width:30%;
    color:#bb0000;
    border: 2px solid #bb0000;
    background-color: transparent;
    font-weight: bold;
    font-size: 22px;
    transition: all 0.5s ease-in-out;
    
}
section.services button:hover
{
    color:#bb0000;
    border: 2px solid black;
    background-color: black;
}
section.services button.hvr-sweep-to-top:before
{
    background: black;
}
/*end section srvices*/
/*start section about-us*/
section.about-us
{
    background: url(../images/aboutus1.jpg)no-repeat center center fixed;
    background-size: cover;
    
}
section.about-us div.overlay
{
    width: 100%;
    background-image: linear-gradient(to bottom,#bb000063, #480000b8);
    padding-top: 40px;
    padding-bottom: 60px;
}
section.about-us h1
{
    padding-bottom: 50px;
    font-size: 45px;
    padding-bottom: 20px;
    color: white;
    border-bottom:10px solid #8a0505;
    margin-bottom: 70px;
    width:30%;
    font-weight: bold;
    text-shadow: 4px 4px 20px rgba(0,0,0,0.4);
    margin-left:  15px;
}
section.about-us  p
{
    color: white;
    line-height: 1.7;
}
section.about-us h2
{
    color:white;
    font-weight: bold;
    margin-top: 50px;
    text-shadow: 4px 4px 20px rgba(0,0,0,0.4);
    font-size: 35px;
}
section.about-us button
{
    margin-top: 60px;
    width:40%;
    transition: all 0.2s ease-in-out;
    height: 50px;
    border-radius: 2px;
    box-shadow: 3px 3px 50px 5px rgba(0,0,0,0.2), 
        -3px -3px 50px 5px rgba(0,0,0,0.2); 
}
section.about-us span
{
    display: inline-block;
     margin-top: 50px;
    margin-bottom: 10px;
    color:white;
    font-size: 17px;
    word-spacing: 8px;
    
}
section.about-us .progress
{
    height: 30px;
    border-radius: 0px;
    background-color: #000000a3
}
section.about-us .progress-bar
{
    text-align: right;
    font-weight: bold;
    text-indent: 20px;
    line-height: 30px;
    padding-right: 10px;
}
section.about-us .owl-carousel
{
    margin-top: 40px;
    margin-bottom: 40px;
}
section.about-us img.icon
{
    margin-top: 40px;
    display: block;
    margin-left: 20px;
}
/*end section about-us*/