/*START MAIN RULES*/
body
{
    box-sizing: border-box;
   
}
/*END MAIN RULES*/
.navbar-default
{
    /*background-image: linear-gradient(to right, #960000,#960000, #b30000cc, #960000);*/
    border: none;
    border-radius: 0px;
    background-color: rgba(0,0,0,0.9)
}
.navbar-default .navbar-brand
{
    position: relative;
    display: block;
    height: 85px;
    width: 208px;
    margin-top:px;
    background-color: #ffffff;
    padding: 30px;
}
.navbar-default .navbar-brand:hover
{
    background-color: #ffffff;
}
.navbar-brand > img
{
    padding-top: 0px;
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    height: 100%;
    padding: 10px;
}
.navbar-default .navbar-nav > li > a
{
    margin-top: 18.5px;
    color:#bb0000;
    text-transform: uppercase;
    font-size:15px;
    padding: 5px;    
    margin-right: 15px;
    border-radius: 6px;
    padding: 13px;
    transition:all .5s ease-in-out;
    margin-bottom: 10px;
    font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover
{
    background-color: transparent;
    color:white;
}
.navbar-default .navbar-toggle
{
    margin-top: 20px;
    border:2px solid red;
    color: black;
    transition: all .3s ease-in-out;
}
.navbar-default .navbar-toggle:hover
{
    background-color: red;
}
.navbar-default .navbar-toggle .icon-bar
{
    background-color: white
}
/*end navbar*/
section.about
{
   
    background: url(../images/leaders.jpg)no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    
}
section.about div.over-lay
{
    width: 100%;
    background-color:rgba(93, 42, 42, 0.64);
    padding-bottom: 60px;
}
section.about h1
{
    padding-bottom: 50px;
    font-size: 50px;
    padding-bottom: 20px;
    margin-bottom: 70px;
    font-weight: bold;
    text-shadow: 2px 4px 10px rgba(0,0,0,0.4),
        -2px -2px 10px rgba(0,0,0,0.4);
    color:white;
    margin-top: 100px;
    letter-spacing: 4px;
    
}
section.about h1 span
{
    color:#bb0000;
}
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #bb0000;
  height: 10px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

section.about div.leaders
{
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    box-shadow: 15px 15px 60px 5px rgba(0,0,0,0.75),
        -15px -15px 60px 5px rgba(0,0,0,0.75);
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
}
section.about div.leaders h2
{
    color:#bb0000;
    font-weight: bold;
    text-shadow: 4px 4px 20px rgba(0,0,0,1);
    margin-left: 40px;
    margin-bottom: 40px;
    text-transform: uppercase;
    padding-bottom: 20px;
   margin-top: 60px;
    letter-spacing: 1px;
}
section.about div.media
{
    margin-top: 40px;
    margin-bottom: 60px;
    overflow: hidden;
    margin-left: 40px;
}
section.about div.media-left
{
    overflow: hidden;
}
section.about div.media-left img{transition: all 0.3s ease-in-out; overflow: hidden;}
section.about div.media-body h3
{
    margin-top: 20px;
    margin-left: 20px;
    color:white;
    font-weight: bold;
}
section.about div.media-body p
{
    margin-top: 30px;
    margin-left: 20px;
    font-size: 20px;
    color:red;
}

section.about div.message
{
    background: url(../images/message.jpg)no-repeat center center fixed;
    width: 100%;
    
    background-size: cover;
    border-radius: 5px;
}
section.about div.message div.overlay
{
    width:100%;

    background-color: #6913138a;
    
     border-radius: 5px;
        padding: 20px;
}
section.about div.message div.overlay p.overlay
{
    line-height: 1.7;
    color:white;
    font-size: 22px;
    padding-top: 40px;
     padding-bottom: 40px;
}
section.about div.message div.overlay h4
{
    font-size: 35px;
    color:black;
    text-shadow: 4px 4px 20px rgba(0,0,0,1);
    font-weight: bold;
}
section.about  p.lead
{
    color:white;
    margin-left: 40px;
    text-shadow: 4px 4px 20px rgba(0,0,0,1);
    line-height: 1.7;
}
section.about img.aftermessage
{
    margin-top: 120px;
    display: block;
    background-size: cover;
    width: 90%;
    height: 70%;
    margin-left: 20px;
    
}
section.about ul li
{
    color:white;
    line-height: 2;
    margin-left: 40px;
    font-size: 20px;
    text-shadow: 4px 4px 20px rgba(0,0,0,1);
    transition:all 0.5s ease-in-out;
    
}
section.about ul li:hover
{
    color:  #bb0000;
    padding-left: 7px;
}
section.about button
{
    margin-top: 60px;
    width:100%;
    padding: 10px;
    background-color: transparent;
    font-size: 25px;
    color:#bb0000;
    border-radius: 5px ; 
    transition: all 0.5s ease-in-out;
    border:2px solid black;
}
section.about button:hover
{
    background: #bb0000;
    color:white;
    border:2px solid #bb0000;
}
.hvr-rectangle-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #2098D1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-rectangle-in:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:black ;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-rectangle-in:hover, .hvr-rectangle-in:focus, .hvr-rectangle-in:active {
  color: white;
}
.hvr-rectangle-in:hover:before, .hvr-rectangle-in:focus:before, .hvr-rectangle-in:active:before {
  -webkit-transform: scale(0);
  transform: scale(0);
}

/*start section footer*/
section.footer
{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #8a0505;
    border-top:4px solid black;
 
}

section.footer a span i
{
    color: black;
    margin-bottom: 20px;
    margin-right: 20px;
    display: inline-block;
    margin-left: 20px;
}
section.footer  span.last
{
    color:black;
    font-size: 15px;
}
/*end section footer*/
/*start section overlay*/
section.overlay
{
    position:fixed;
    top:0px;
    left: 0px;
    background: white;
    width: 100%;
    height: 100%;
    z-index: 999999999999999999999999999999999;
}
.spinner {
  width: 70px;
  height: 70px;
  background-color: #8a0505;
   
  margin: 300px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
/*end section overlay*/