/*START MAIN RULES*/
body
{
    box-sizing: border-box;
    background:url(../images/news.jpg)no-repeat center center fixed
    
}
/*END MAIN RULES*/
.navbar-default
{
    /*background-image: linear-gradient(to right, #960000,#960000, #b30000cc, #960000);*/
    border: none;
    border-radius: 0px;
    background-color: rgba(0,0,0,0.9)
}
.navbar-default .navbar-brand
{
    position: relative;
    display: block;
    height: 85px;
    width: 208px;
    margin-top:px;
    background-color: #ffffff;
    padding: 30px;
}
.navbar-default .navbar-brand:hover
{
    background-color: #ffffff;
}
.navbar-brand > img
{
    padding-top: 0px;
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    height: 100%;
    padding: 10px;
}
.navbar-default .navbar-nav > li > a
{
    margin-top: 18.5px;
    color:#bb0000;
    text-transform: uppercase;
    font-size:15px;
    padding: 5px;    
    margin-right: 15px;
    border-radius: 6px;
    padding: 13px;
    transition:all .5s ease-in-out;
    margin-bottom: 10px;
    font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover
{
    background-color: transparent;
    color:white;
}
.navbar-default .navbar-toggle
{
    margin-top: 20px;
    border:2px solid red;
    color: black;
    transition: all .3s ease-in-out;
}
.navbar-default .navbar-toggle:hover
{
    background-color: red;
}
.navbar-default .navbar-toggle .icon-bar
{
    background-color: white
}
/*end navbar*/

section.inner
{
    width:100%;
    background:rgba(93, 42, 42, 0.64);
}

section.inner h1
{
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 4px 10px rgba(0,0,0,0.4),
        -2px -2px 10px rgba(0,0,0,0.4);
    color:white;
    margin-top: 100px;
    letter-spacing: 4px;
    width:100%;
    padding-bottom: 10px;
}
section.inner h1 span 
{
    color:#bb0000;
}
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #bb0000;
  height: 10px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}
section.inner div.in-inner
{
    width:100%;
    height: auto;
    background:rgba(0,0,0,0.5);
    margin-top: 80px;
    border-radius: 5px;
    margin-bottom: 40px;
    box-shadow: 15px 15px 60px 5px rgba(0,0,0,0.75), -15px -15px 60px 5px rgba(0,0,0,0.75);
}

section.inner div.in-inner div.box
{
    margin: 40px;
    background-color: #7d000073;
    border-radius: 5px;
}

section.inner div.in-inner div.box a h3,
section.inner div.in-inner div.box2 h3
{
    padding: 20px;
    padding-bottom: 0px;
    text-decoration: none;
    color:gold;
    text-shadow: 3px 3px 20px rgba(0,0,0,0.8),
        -3px -3px 20px rgba(0,0,0,0.8);
}
section.inner div.in-inner div.box a:hover
{   
    text-decoration: none;
}
section.inner div.in-inner div.box span
{
    display: inline-block;
    padding: 20px;
    padding-top: 0px;
    color:white;
    font-size: 17px;
    letter-spacing: 1.5px;
    word-spacing: 1px;
}
section.inner div.in-inner div.box img
{
   width:90%;
    margin: 10px;
    margin-bottom: 40px;
    
}
section.inner div.in-inner div.box p
{
    margin: 10px;
    color:white;
    font-size: 17.5px;
    line-height: 1.7;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin-bottom: 40px;
}
section.inner div.in-inner div.box button.face
{
    background-color: #4267b2;
    margin-left: 20px;
    color: white;
    border: none;
    font-size: 13px;
    padding: 10px 10px;
    margin-bottom: 20px;
    border-radius: 4px;
     width:80%;
}
section.inner div.in-inner div.box button.twit
{
    background-color: #1da1f2;
   margin-left: 20px;
    color: white;
    border: none;
    font-size: 13px;
    padding: 10px 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    width:80%;
}
section.inner div.in-inner div.box i
{
    transition: all .5s ease-in-out;
    display: inline-block;   
}
section.inner div.in-inner div.box i:hover
{
    cursor: pointer;
    padding-bottom: 10px;
    
}
section.inner div.in-inner div.box i.fa-linkedin
{
    color:#0073b1;
    padding-top: 0px;
    
}
section.inner div.in-inner div.box i.fa-pinterest-square
{
    color:rgb(189, 8, 28);
    padding-top: 00px;

}
section.inner div.in-inner div.box i.fa-google-plus-square
{
    color:#e33800;
    padding-top: 0px;
}

section.inner div.in-inner div.box2
{
     background-color: #7d000073;
    border-radius: 5px;
    height:auto;
   margin: 40px 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 60px;
}
section.inner div.in-inner div.box2 hr
{
    width:80%;
    background-color: gold;
    color: gold;
    height: 2px;
    border:0px solid red;
    margin-bottom: 30px;
}
section.inner div.in-inner div.box2 div.box3
{
    background-color: rgba(0,0,0,0.5);
    border-radius: 4px;
}
section.inner div.in-inner div.box2 div.box3 a
{
    color:gold;
    font-size: 15px;
    display: block
}
section.inner div.in-inner div.box2 div.box3 a:hover
{
    cursor: pointer;
    text-decoration: none;
}
section.inner div.in-inner div.box2 div.box3  span
{
    color: 
}
section.inner div.in-inner div.box2 .carousel-indicators
{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
section.inner div.in-inner div.box2 .carousel-indicators li
{
    margin-bottom: 0px;
    padding-bottom: 0px;
    width:10px;
    height: 10px;
    border: 1px solid black;
    margin-top: 20px;
    transition: all .5s ease-in-out;
}
section.inner div.in-inner div.box2 .carousel-indicators li.active
{
    width:15px;
    height: 15px;
    background-color: gold;
        
}
section.inner div.in-inner div.box2 div.media
{
    margin-bottom: 40px;
}
section.inner div.in-inner div.box2 .media-object 
{
    width: 80px;
    height: 80px;
    border-radius: 4px;
}
section.inner div.in-inner div.box2 .media-body h4
{
    font-size: 16px;
    margin-top: 5px;
    margin-right: 0px;
    color:white;
}
section.inner div.in-inner div.box2 .media-body a:hover
{
    cursor:pointer;
    text-decoration: none;
}
section.inner div.in-inner div.box2 .media-body span
{
    color:#888;
    margin-top: 7px;
    display: inline-block;
}
section.inner div.in-inner div.box2 span.second
{
    color:white;
    display: block;
    margin-left: 20px;
    margin-bottom: 15px;
    font-size: 17px;
    transition: all 0.5s ease-in-out;
}
section.inner div.in-inner div.box2 a.second:hover
{   
     
    text-decoration: none;
    cursor: pointer;
}
section.inner div.in-inner div.box2 span.second:hover
{
    padding-left: 10px;
    font-size: 18px;
    color:gold;
}
section.inner div.in-inner div.box2 p
{
    color:#888;
    margin-left: 20px;
    margin-top: 0px;
    line-height: 1.7;
    font-size: 16px;
}
section.inner div.in-inner div.box2 a.third
{
    color: gold;
    margin-left: 25px;
}
/*start section footer*/
section.footer
{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #8a0505;
    border-top:4px solid black;
    margin-top: 0px;
}

section.footer a span i
{
    color: black;
    margin-bottom: 20px;
    margin-right: 20px;
    display: inline-block;
    margin-left: 20px;
}
section.footer  span.last
{
    color:black;
    font-size: 15px;
}
/*end section footer*/
/*start section overlay*/
section.overlay
{
    position:fixed;
    top:0px;
    left: 0px;
    background: white;
    width: 100%;
    height: 100%;
    z-index: 999999999999999999999999999999999;

}
.spinner {
  width: 70px;
  height: 70px;
  background-color: #8a0505;
   
  margin: 300px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
/*end section overlay*/
@media (min-width:768px) and (max-width:991px)
{
    .navbar-default .navbar-nav > li > a
    {
        margin-right: -10px;
        font-size: 13px;
    }
}