/*START MAIN RULES*/
body
{
    box-sizing: border-box;
}
/*END MAIN RULES*/
.navbar-default
{
    /*background-image: linear-gradient(to right, #960000,#960000, #b30000cc, #960000);*/
    border: none;
    border-radius: 0px;
    background-color: rgba(0,0,0,0.9)
}
.navbar-default .navbar-brand
{
    position: relative;
    display: block;
    height: 85px;
    width: 208px;
    margin-top:px;
    background-color: #ffffff;
    padding: 30px;
}
.navbar-default .navbar-brand:hover
{
    background-color: #ffffff;
}
.navbar-brand > img
{
    padding-top: 0px;
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    height: 100%;
    padding: 10px;
}
.navbar-default .navbar-nav > li > a
{
    margin-top: 18.5px;
    color:#bb0000;
    text-transform: uppercase;
    font-size:15px;
    padding: 5px;    
    margin-right: 15px;
    border-radius: 6px;
    padding: 13px;
    transition:all .5s ease-in-out;
    margin-bottom: 10px;
    font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover
{
    background-color: transparent;
    color:white;
}
.navbar-default .navbar-toggle
{
    margin-top: 20px;
    border:2px solid red;
    color: black;
    transition: all .3s ease-in-out;
}
.navbar-default .navbar-toggle:hover
{
    background-color: red;
}
.navbar-default .navbar-toggle .icon-bar
{
    background-color: white
}
@media (min-width:768px) and (max-width:991px)
{
    .navbar-default .navbar-nav > li > a
    {
        margin-right: -10px;
        font-size: 13px;
    }
}
/*end navbar*/


body
{
    background: url(../images/f.jpg)no-repeat center center fixed;
    background-size: cover;
}

section.project div.box
{
    margin-top: 60px;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 40px;
    background-color: rgba(0,0,0,0.8);
    padding: 40px;
    box-shadow:15px 15px 60px 5px rgba(0,0,0,0.75), -15px -15px 60px 5px rgba(0,0,0,0.75);
}
section.project img
{
    width:100%;
    
}
.carousel-indicators li
{
    width: 15px;
    height: 15px;
    transition: all .5s ease-in-out;
    border: 2px solid white;
    
}
.carousel-indicators li.active
{
    width:20px;
    height: 20px;
    background-color: #8a0505
    
}
.glyphicon-chevron-left:before,.glyphicon-chevron-right:before
{
    color: #ffffffff;
    opacity: 1;
}
section.project h2
{
    color:#8a0505;
    margin-top: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    font-size: 30px;
}
@media (max-width:767px)
{
    section.project h2
    {
        font-size: 23px;
        margin-bottom: 20px;
    }
}
section.project p
{
    margin-top: 20px;
    color:white;
    font-size: 17px;
    line-height: 1.7
}
section.project p span
{
    color:#8a0505;
}
section.project button
{
    background-color: transparent;
    margin-top: 40px;
    border-radius: 3px;
    color:white;
    border:2px solid #8a0505;
    transition: all 0.5s ease-in-out;
}
section.project button:hover
{
    background-color: #8a0505;
    color:black
}
/*start section footer*/
section.footer
{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #8a0505;
    border-top:4px solid black;
}

section.footer a span i
{
    color: black;
    margin-bottom: 20px;
    margin-right: 20px;
    display: inline-block;
    margin-left: 20px;
}
section.footer  span.last
{
    color:black;
    font-size: 15px;
}
/*end section footer*/
/*start section overlay*/
section.overlay
{
    position:fixed;
    top:0px;
    left: 0px;
    background: white;
    width: 100%;
    height: 100%;
    z-index: 999999999999999999999999999999999;
   
}
.spinner {
  width: 70px;
  height: 70px;
  background-color: #8a0505;
   
  margin: 300px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
/*end section overlay*/
/*end navbar*/